#OS junk files
[Tt]humbs.db
*.DS_Store

#IDE config files
.idea
*.iml
*.xml
README.md~
index.html~
.gitignore~
cmake-build-debug

# Ignore personal user state in XCode
ArmaPixieNet/ArmaPixieNet.xcodeproj/project.xcworkspace/xcuserdata/esphinx.xcuserdatad/UserInterfaceState.xcuserstate
ArmaPixieNet/ArmaPixieNet.xcodeproj/xcuserdata/esphinx.xcuserdatad
App/PixieNet.xcodeproj/project.xcworkspace/xcuserdata/esphinx.xcuserdatad/
App/PixieNet.xcodeproj/xcuserdata/esphinx.xcuserdatad/
Binary_vs_Arma/Binary_vs_arma.xcodeproj/project.xcworkspace/xcuserdata/zal.xcuserdatad/
Binary_vs_Arma/Binary_vs_arma.xcodeproj/xcuserdata/zal.xcuserdatad/
